<!DOCTYPE html>
<html>
  <head>
    <title>Deployd Dashboard</title>
    <!-- <link rel='stylesheet/less' type="text/css" href='/dashboard/stylesheets/style.less' /> -->
    <!-- <script type="text/javascript" src="/dashboard/js/lib/less-1.3.0.min.js"></script> -->
    <link rel='stylesheet' type="text/css" href='/dashboard/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <{ if (typeof css !== 'undefined') { }>
      <link href="/dashboard<{- css }>" rel="stylesheet" type="text/css" />
    <{ } }>
  </head>
  <body>

    <script type="text/javascript">
      window.Context = <{- JSON.stringify(context) }>;
    </script>

    <div id="header">
      <h1></h1>
      <div class="seperator">&nbsp;</div>
      <div class="btn-group" id="open-btn-group">
        <a class="btn" href="#" id="open-btn" target="_blank"><i class="icon-eye-open"></i> Open</a>
        <!-- <button class="btn dropdown-toggle"><span class="caret"></span></button> -->
      </div>
      <!-- <div class="btn-group" id="deploy-btn-group">
        <button class="btn"><i class="icon-upload"></i> Deploy</button>
        <button class="btn dropdown-toggle"><span class="caret"></span></button>
      </div> -->
    </div>
    <div id="body-container">
      <div id="resource-sidebar-container"> 
        <div class="well hide">
          <div class="section-header">
            <h3>Resources</h3>
            <div class="btn-group">
              <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-white icon-plus"></i>
                &nbsp;<span class="caret"></span>
              </a>
              <ul id="resource-types" class="dropdown-menu">
              </ul>
            </div>
          </div>
          <div id="resources-empty" class="alert alert-info hide">Add a resource to get started</div>
          <ul class="nav nav-stacked type-icons" id="resource-sidebar">
          </ul>
        </div>
      </div>
      <div id="main-container">
        <{ if (render.bodyHtml) { }>
          <{- render.bodyHtml }>
        <{ } }>
      </div>
    </div>

    <script type="text/html" id="resource-sidebar-template">
      <% var type = types[resource.type]; %>
      <% var isCurrent = resource.id === Context.resourceId %>
      <li <%= isCurrent ? 'class="active"' : '' %>>
        <a href="/dashboard/<%= resource.id %>" <%= type && type.dashboardPages ? 'class="pages-header"' : '' %>>
          <i class="icon-white icon-custom <%- resource.type.toLowerCase() %>"></i>&nbsp;
          <span><%- resource.id %></span>
        </a>
        <a href="#" class="options"><span class="caret"></span></a>
        <% if (type && type.dashboardPages) { %>
          <ul class="nav pages type-icons <%= isCurrent ? '' : 'hide' %>">
            <% type.dashboardPages.forEach(function(p) { %>
              <li <%- isCurrent && (Context.page || '').toLowerCase() === p.toLowerCase() ? 'class=active' : ''%>  ><a href="/dashboard/<%= resource.id %>/<%= p.toLowerCase() %>/"><i class="icon-white icon-custom <%= p.toLowerCase() %>"></i> <%= p %></a></li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    </script>

    <script type="text/html" id="resource-types-template">
      <% types.forEach(function(type) { %>
         <li>
          <a href="#" data-id="<%= type.id %>">
            <i class="<%= (type.label || type.type).toLowerCase().replace(' ', '-') %> icon-custom"></i>
            <%- type.label || type.type %>
          </a>
         </li>
      <% }); %>
    </script>

    <script type="text/html" id="event-editor-template">
      <ul class="nav nav-tabs" id="event-nav">
        <% events.forEach(function(e, i) { %>
          <li <%= i === 0 ? 'class="active"' : '' %>><a href="#<%- e.toLowerCase() %>-panel" data-toggle='tab' data-editor="<%- e %>">On <%- e %></a></li>
        <% }) %>
      </ul>
      <div class="tab-content tab-content-styled">
        <% events.forEach(function(e, i) { %>
          <div class="tab-pane <%- i === 0 ? 'active' : '' %>" id="<%- e.toLowerCase() %>-panel" >
            <div class="editor-container">
              <div id="on<%- e %>"></div>
            </div>
          </div>
        <% }) %>
      </div>
    </script>

    <script type="text/javascript" src="/dashboard/js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ui.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace-theme-deployd.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace-mode-javascript.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace-mode-json.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/prettify.js"></script>
    <script type="text/javascript" src="/dpd.js"></script>
    <script type="text/javascript" src="/dashboard/js/events.js"></script>
    <script type="text/javascript" src="/dashboard/js/sidebar.js"></script>
    <script type="text/javascript" src="/dashboard/js/header.js"></script>

    <{ if (typeof scripts !== 'undefined') scripts.forEach(function(s) { }>

      <script type="text/javascript" src="/dashboard<{- s }>"></script>

    <{ }); }>


  </body>
</html>
