<!DOCTYPE html>
<html>
  <head>
    <title>Deployd Dashboard</title>
    <link rel='stylesheet/less' type="text/css" href='/dashboard/stylesheets/ui.css' />
    <link rel='stylesheet/less' type="text/css" href='/dashboard/stylesheets/style.less' />
    <script type="text/javascript" src="/dashboard/js/lib/less-1.3.0.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <script type="text/javascript">
      window.Options = <{- JSON.stringify(options) }>;
    </script>

    <div id="body-container">
      <div id="resource-sidebar-container"> 
        <div class="well">
          <div class="section-header">
            <h3>Resources</h3>
            <div class="btn-group">
              <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-white icon-plus"></i>
                &nbsp;<span class="caret"></span>
              </a>
              <ul id="resource-types" class="dropdown-menu">
              </ul>
            </div>
          </div>
          <div id="resources-empty" class="alert alert-info hide">Add a resource to get started</div>
          <ul class="nav nav-stacked type-icons" id="resource-sidebar">
          </ul>
        </div>
      </div>
      <div id="main-container">

      </div>
    </div>

    <script type="text/html" id="resource-sidebar-template">
      <% var type = types[resource.type]; %>
      <% var isCurrent = resource.id === Options.resourceId %>
      <li <%= isCurrent ? 'class="active"' : '' %>>
        <a href="/dashboard/<%= resource.id %>" <%= type && type.dashboardPages ? 'class="pages-header"' : '' %>>
          <i class="icon-white <%- resource.type.toLowerCase() %>"></i>&nbsp;
          <span><%- resource.path.substr(1) %></span>
        </a>
        <a href="#" class="options"><span class="caret"></span></a>
        <% if (type && type.dashboardPages) { %>
          <ul class="nav pages type-icons <%= isCurrent ? '' : 'hide' %>">
            <% type.dashboardPages.forEach(function(p) { %>
              <li <%- isCurrent && Options.page.toLowerCase() === p.toLowerCase() ? 'class=active' : ''%>  ><a href="/dashboard/<%= resource.id %>/<%= p.toLowerCase() %>/"><i class="icon-white <%= p.toLowerCase() %>"></i> <%= p %></a></li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    </script>

    <script type="text/html" id="resource-types-template">
      <% types.forEach(function(type) { %>
         <li class="type-icons">
          <a href="#" data-id="<%= type.id %>">
            <i class="<%= (type.label || type.type).toLowerCase().replace(' ', '-') %> icon-hack"></i>
            <%- type.label || type.type %>
          </a>
         </li>
      <% }); %>
    </script>

    <script type="text/javascript" src="/dashboard/js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ui.js"></script>
    <script type="text/javascript" src="/dpd.js"></script>
    <script type="text/javascript" src="/dashboard/js/dashboard.js"></script>
  </body>
</html>
