<!DOCTYPE html>
<html>
  <head>
    <title>Deployd Dashboard</title>
    <!-- <link rel='stylesheet/less' type="text/css" href='/dashboard/stylesheets/style.less' /> -->
    <!-- <script type="text/javascript" src="/dashboard/js/lib/less-1.3.0.min.js"></script> -->
    <link rel='stylesheet' type="text/css" href='/dashboard/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <{ if (typeof css !== 'undefined') { }>
      <link href="/dashboard<{- css }>" rel="stylesheet" type="text/css" />
    <{ } }>
  </head>
  <body>

    <script type="text/javascript">
      window.Context = <{- JSON.stringify(context) }>;
    </script>

    <div id="header">
      <a class="header-link header-logo" href="http://www.deployd.com" target="_blank">
        <img class="dpd-logo" src="/dashboard/img/dpd-logo-scaled.png" width="24" height="24" alt="Deployd" /></a>
      <a href="#" class="header-link" id="open-btn" target="_blank"><{= context.appName }> </a>
      <!-- <h1>
        <{= context.appName }>
      </h1> -->
      <!-- <div class="seperator">&nbsp;</div> -->
      <{ if (context.env === 'development') { }>
      <div class="dropdown" id="deploy-btn-group">
        <a href="#" class="header-link dropdown-toggle <{- context.page === 'Deployments' && context.module === 'App' ? 'active' : '' }>" id="deploy-btn"><i class="icon-white icon-upload"></i> Deploy <span class="caret hide"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="deploy-btn">
          <!-- <li><a href="#">Push to <strong>myapp-production</strong></a></li> -->
          <!-- <li><a href="#">Push to <strong>myapp-staging</strong></a></li> -->
          <li class="divider"></li>
          <li><a href="/dashboard/deployments">Manage deployments</a></li>
        </ul>
      </div>
      <{ } }>
    </div>
    <div id="body-container">
      <div id="resource-sidebar-container"> 
        <!-- <div class="well">
          <h3>App</h3>
          <ul class="nav nav-stacked nav-sidebar">
            <li class="<{- context.page === 'Deployments' && context.module === 'App' ? 'active' : '' }>">
              <a href="/dashboard/deployments">
                <i class="icon-upload icon-white"></i>
                Deployments
              </a>
            </li>
          </ul>
        </div> -->
        <div class="well hide">
          <div class="section-header">
            <h3>Resources</h3>
            <div class="btn-group">
              <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-white icon-plus"></i>
                &nbsp;<span class="caret"></span>
              </a>
              <ul id="resource-types" class="dropdown-menu">
              </ul>
            </div>
          </div>
          <div id="resources-empty" class="hide">Add a resource to get started</div>
          <ul class="nav nav-stacked nav-sidebar type-icons" id="resource-sidebar">
          </ul>
        </div>
        <div id="modules" class="well hide">
          <div class="section-header">
            <h3>Modules</h3>
            <a class="btn btn-success" href="#add-module-modal" data-toggle="modal">
              <i class="icon-white icon-plus"></i>
            </a>
          </div>
          <div id="modules-empty" class="dashboard-sidebar-info">No modules are installed</div>
          <ul class="nav nav-stacked nav-sidebar type-icons hide" id="module-sidebar">
          </ul>
        </div>
      </div>
      <div id="main-container">
        <{ if (render.bodyHtml) { }>
          <{- render.bodyHtml }>
        <{ } }>
      </div>
    </div>

    <div id="add-module-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addModuleModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="addModuleModalLabel">Installing Modules</h3>
      </div>
      <div class="modal-body">
        <p>You can install modules for Deployd by using <a target="_blank" href="https://npmjs.org/">npm</a> or by placing them in your app's <code>node_modules</code> folder. For more details, see <a target="_blank" href="http://docs.deployd.com/docs/using-modules/installing-modules.md">the Deployd documentation</a>.</p>
        <p>For a list of official modules for Deployd, check out the <a target="_blank" href="http://docs.deployd.com/modules">modules</a> page of the documentation.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <script type="text/html" id="resource-sidebar-template">
      <% var type = types[resource.type]; %>
      <% var isCurrent = resource.id === Context.resourceId %>
      <li <%= isCurrent ? 'class="active"' : '' %>>
        <a href="/dashboard/<%= resource.id %>" <%= type && type.dashboardPages ? 'class="pages-header"' : '' %>>
          <i class="icon-white icon-custom <%- resource.type.toLowerCase() %>"></i>&nbsp;
          <span><%- resource.id %></span>
        </a>
        <a href="#" class="options"><span class="caret"></span></a>
        <% if (type && type.dashboardPages) { %>
          <ul class="nav pages type-icons <%= isCurrent ? '' : 'hide' %>">
            <% type.dashboardPages.forEach(function(p) { %>
              <li <%- isCurrent && (Context.page || '').toLowerCase() === p.toLowerCase() ? 'class=active' : ''%>  ><a href="/dashboard/<%= resource.id %>/<%= p.toLowerCase() %>/"><i class="icon-white icon-custom <%= p.toLowerCase() %>"></i> <%= p %></a></li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    </script>

    <script type="text/html" id="module-sidebar-template">
      <% modules.forEach(function(m) { %>
        <% var isCurrent = m.id === Context.moduleId %>
        <li <%= isCurrent ? 'class="active"' : '' %>>
          <a href="/dashboard/modules/<%= m.id %>" <%= m.dashboardPages ? 'class="pages-header"' : '' %>>
            <i class="icon-white icon-custom"></i>&nbsp;
            <span><%= m.id %></span>
          </a>
          <% if (m.dashboardPages) { %>
            <ul class="nav pages type-icons <%= isCurrent ? '' : 'hide' %>">
              <% m.dashboardPages.forEach(function(p) { %>
                <li <%- isCurrent && (Context.page || '').toLowerCase() === p.toLowerCase() ? 'class=active' : ''%>  ><a href="/dashboard/modules/<%= m.id %>/<%= p.toLowerCase() %>/"><i class="icon-white icon-custom <%= p.toLowerCase() %>"></i> <%= p %></a></li>
              <% }); %>
            </ul>
          <% } %>
        </li>
      <% }); %>
    </script>

    <script type="text/html" id="resource-types-template">
      <% types.forEach(function(type) { %>
         <li>
          <a href="#" data-id="<%= type.id %>">
            <i class="<%= (type.label || type.type).toLowerCase().replace(' ', '-') %> icon-custom"></i>
            <%- type.label || type.type %>
          </a>
         </li>
      <% }); %>
    </script>

    <script type="text/html" id="event-editor-template">
      <ul class="nav nav-tabs" id="event-nav">
        <% events.forEach(function(e, i) { %>
          <li <%= i === 0 ? 'class="active"' : '' %>><a href="#<%- e.toLowerCase() %>-panel" data-toggle='tab' data-editor="<%- e %>">On <%- e %></a></li>
        <% }) %>
      </ul>
      <div class="tab-content tab-content-styled">
        <% events.forEach(function(e, i) { %>
          <div class="tab-pane <%- i === 0 ? 'active' : '' %>" id="<%- e.toLowerCase() %>-panel" >
            <div class="editor-container">
              <div id="on<%- e %>"></div>
            </div>
          </div>
        <% }) %>
      </div>
    </script>

    

    <script type="text/javascript" src="/dashboard/js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ui.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace-theme-deployd.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace-mode-javascript.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/ace-mode-json.js"></script>
    <script type="text/javascript" src="/dashboard/js/lib/prettify.js"></script>
    <script type="text/javascript" src="/dpd.js"></script>
    <script type="text/javascript" src="/dashboard/js/events.js"></script>
    <script type="text/javascript" src="/dashboard/js/sidebar.js"></script>
    <script type="text/javascript" src="/dashboard/js/header.js"></script>

    <{ if (typeof scripts !== 'undefined') scripts.forEach(function(s) { }>

      <script type="text/javascript" src="/dashboard<{- s }>"></script>

    <{ }); }>


  </body>
</html>
