<html>
  <head>
    <link rel="stylesheet" href="bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  
  <div class="docs">
    <% comments.forEach(function(comment) { %>
      <% if(!comment.ignore && !comment.isPrivate) { %>
        <div class="comment">

          <h1 class="comment-hdr">
              <%= comment.ctx && comment.ctx.string %>
              <% var name = comment.ctx && comment.ctx.string; %>
          </h1>
          <% if(name && name[name.length - 2] === '(' && name[name.length - 1] === ')') { %>
            <h2 class="declaration">
              <% var params = [];
                 var name = comment.ctx && comment.ctx.string && comment.ctx.string.split('()')[0]; %>
              <% comment.tags && comment.tags.forEach(function(tag, i) { %>
                <% if(tag.type === 'param' && tag.name) {
                  params.push(tag.name.split('(')[0]);
                } %>
              <% }) %>
              <% if(params.length) { %><%= name %>(<%= params.join(', ') %>)<% } %>
            </h2>
          <% } %>
          <ul class="tags">
            <% comment.tags && comment.tags.forEach(function(tag, i) { %>
              <li class="tag">
                
                <% if(tag.type) { %>
                  <span class="tag-type"><%= tag.type %></span>
                  <% if(tag.visibility) { %>
                    <span class="tag-visibility"><%= tag.visibility %></span>
                  <% } %>
                <% } %>
                <% if(tag.name) { %>
                  <span class="tag-name"><%= tag.name %></span>
                <% } %>
                <% if(tag.types) { %>  
                  <span class="tag-types"><code><%= tag.types && tag.types.join('|') %></code></span>
                <% } %>
                <% if(tag.description) { %>
                  <span class="tag-description"><%= tag.description %></span>
                <% } %>
              </li>
            <% }) %>
          </ul>
          <div class="desc">
            <%- comment.description.full %>
          </div>
        </div>
      <% } %>
    <% }) %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="prettify.js"></script>
  <script>
    $('pre').addClass('prettyprint');
    // remove stupid markdown BRs
    $('p br').each(function () {
      $(this).after('&nbsp;');
      $(this).remove();
    });
    prettyPrint();
  </script>
  
  </body>
</html>



